* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --theme-color: #0088ff;
    --loading-duration: 0.3s;
    --horizontal-padding-sm: 1.5rem;
    --horizontal-padding-md: 6rem;
    --horizontal-padding-lg: 8rem;
    --horizontal-padding-xl: 10rem;
    --gap-sm: 2rem;
    --gap-md: 4rem;
    --gap-lg: 6rem;
    --gap-xl: 8rem;
}

body {
    font-family: "Inter", sans-serif;
    color: #000;
    background: #fff;
    transition: 0.5s;
}

.unstyledBtn {
    all: unset;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.heroIntro,
.heroHeader,
.heroSubheader {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: calc(var(--loading-duration) * 1);
}

.heroParagraph {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: calc(var(--loading-duration) * 2);
}

#resumeBtn {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: calc(var(--loading-duration) * 3);
}

.projectCardContainer,
.socials {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: calc(var(--loading-duration) * 4.5);
}

.heroIntro[loaded],
.heroHeader[loaded],
.heroSubheader[loaded] {
    opacity: 1;
}

.heroParagraph[loaded] {
    opacity: 1;
}

#resumeBtn[loaded] {
    opacity: 1;
}

.projectCardContainer[loaded],
.socials[loaded] {
    opacity: 1;
}

.darkModeBtn {
    width: 45px;
    height: 25px;
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 16px;
    background-color: #0088ff;
}

.darkModeBtn i {
    color: #fff;
}

.darkModeTab {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.25s ease-in;
    z-index: 5;
}

/* Main Content Container ------------------------------------------------------ */

.mainContainer {
    padding: 0 1.5rem;
    position: relative;
    height: 100vh;
    margin-top: 1.5rem;
}

/* SM Screens */
@media (min-width: 640px) {
    .mainContainer {
        padding-left: var(--horizontal-padding-sm);
        padding-right: var(--horizontal-padding-sm);
    }
}

/* MD Screens */
@media (min-width: 768px) {
    .mainContainer {
        padding-left: var(--horizontal-padding-md);
        padding-right: var(--horizontal-padding-md);
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .mainContainer {
        padding-left: var(--horizontal-padding-xl);
        padding-right: var(--horizontal-padding-xl);
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        margin-top: 0;
        overflow-y: auto;
    }
}

@media (min-width: 1280px) {
    .mainContainer {
        padding-left: var(--horizontal-padding-lg);
        padding-right: var(--horizontal-padding-lg);
    }
}

/* Hero Section ------------------------------------------------------------------------ */

.heroContent {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.heroIntro {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 0.5rem;
    color: var(--theme-color);
    font-size: small;
}

.heroHeader {
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
}

.heroSubheader {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #9b9b9b;
}

.heroParagraph {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.heroImg {
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
    max-width: 100%;
}

.btn {
    border: var(--theme-color) solid 1px;
    padding: 1.25em 3em;
    color: var(--theme-color);
    text-decoration: none;
    transition: transform 0.2s ease-in;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    min-height: 4.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: fit-content;
    background: linear-gradient(to right, var(--theme-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.25s ease;
}

.btnDark {
    border: var(--theme-color) solid 1px;
    padding: 1.25em 3em;
    color: var(--theme-color);
    text-decoration: none;
    transition: transform 0.2s ease-in;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    min-height: 4.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: fit-content;
    background: linear-gradient(to right, var(--theme-color) 50%, black 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.25s ease;
}

.btn:hover,
.btnDark:hover {
    color: #fff;
    background-position: left bottom;
}

.arrow {
    font-size: larger;
}

.socials {
    display: flex;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

/* LG Screens */
@media (min-width: 1024px) {
    .heroContent {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        justify-content: space-between;
        width: 50%;
        margin-bottom: 0;
        margin-top: 0;
        position: sticky;
        top: 0;
        padding-top: var(--gap-lg);
        padding-bottom: var(--gap-lg);
    }
    .heroIntro {
        font-size: medium;
    }
    .heroHeader {
        font-size: 2.75rem;
        margin-bottom: 0.5rem;
    }
    .heroSubheader {
        font-size: 1.75rem;
    }
    .socials {
        margin-top: 0;
    }
}

@media (min-width: 1280px) {
    .heroContent {
        max-width: 500px;
    }
}

/* Projects Section ------------------------------------------------------------------------ */

.projectsFeatured {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

.projectCardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.projectCard,
.projectCardDark {
    padding: 1rem;
    border: solid 1px #e6e7eb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    border-width: 1px;
    transition: all ease 0.25s;
}

.projectCardDark:hover {
    background-color: #343434;
}

.projectCard:hover {
    background-color: #f3f4f6;
}

.projectCard:hover h3,
.projectCardDark:hover h3 {
    color: var(--theme-color);
}

.projectCard > .projectName > i,
.projectCardDark > .projectName > i {
    rotate: -45deg;
}

.projectCard:hover > .projectName > i,
.projectCardDark:hover > .projectName > i {
    transform: translateX(5px);
}

.projectCardContainer:hover .projectCard,
.projectCardContainer:hover .projectCardDark {
    opacity: 0.5;
}

.projectCardContainer:hover .projectCard:hover,
.projectCardContainer:hover .projectCardDark:hover {
    opacity: 1;
}

.projectName {
    font-weight: 600;
}

.projectName i {
    font-size: large;
    transition: all 0.25s ease;
    float: right;
}

.projectDesc {
    font-size: 0.875rem;
    opacity: 50%;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.moreBtn {
    all: unset;
    color: #000;
    font-weight: 600;
    font-size: smaller;
    width: fit-content;
    cursor: pointer;
    margin-top: -0.5rem;
}

.moreBtn:hover {
    opacity: 100%;
    color: var(--theme-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-line: underline;
}

.moreBtn:hover i {
    transform: translateX(5px);
}

.moreBtn i {
    font-size: 0.875em;
    margin-left: 3px;
    transition: all 0.25s ease;
}

.projectImg {
    max-width: 100%;
}

.projectBtns {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.projectBtns i {
    font-size: 1.5rem;
}

.projectBtns i:hover {
    opacity: 50%;
}

.projectLang {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    color: var(--theme-color);
}

/* LG Screens */
@media (min-width: 1024px) {
    .projectCardContainer {
        width: 60%;
        padding-top: var(--gap-lg);
        padding-bottom: var(--gap-lg);
    }
    .projectImg {
        max-width: 100%;
    }
}

/* XL Screens */
@media (min-width: 1280px) {
    .mainContainer {
        justify-content: center;
        margin: 0 auto;
    }
    .projectCardContainer {
        width: 50%;
        max-width: 475px;
    }
    .projectImg {
        max-width: 100%;
    }
}

.boldText {
    font-weight: bold;
    color: #000;
    opacity: 100%;
}

.icon {
    color: #000;
}

.icons {
    font-size: 1.6rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.icon:hover {
    opacity: 50%;
}

.iconsAnchor:hover .icons {
    transform: translateY(-3px);
}

.icLight {
    color: #27272b;
    font-size: 1.5rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.iconsAnchor:hover .icLight {
    color: var(--theme-color);
    transform: translateY(-3px);
}
