* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --loading-duration: 1.25s;
}

body {
    font-family: "Hind", sans-serif;
    color: #fff;
    background: #1f1f23;
    /* background-image: url('/img/backgroundDark.jpg'); */
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

/* Loading Animation ------------------------------------------------------------------------ */
/* Animation modified from: https://alvarotrigo.com/blog/css-text-animations/ */

.loadingContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* background-color: #000000; */
    background-color: #1f1f23;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 2s;
    pointer-events: none;
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

/* @keyframes shrink {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
    }
} */

/* Fade the loader after it has completed 1 iteration of the animation */
.loadingContainer[loaded] {
    animation: fade-out;
    animation-delay: var(--loading-duration);
    animation-fill-mode: forwards;
}

/* .loadingContainer[loaded] > .loader {
    animation: shrink 100ms !important;
    animation-delay: 2s;
    animation-fill-mode: forwards;
} */

.loader {
    position: relative;
    width: 64px;
    height: 64px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: #1f1f23; */
    transform: rotate(45deg);
    overflow: hidden;
}
.loader:after {
    content: "";
    position: absolute;
    inset: 6px;
    margin: auto;
    /* background: #222b32; */
    background: #1f1f23;
}
.loader:before {
    content: "";
    position: absolute;
    inset: -15px;
    margin: auto;
    background: #47a7e6;
    animation: diamondLoader var(--loading-duration) linear 1;
}
@keyframes diamondLoader {
    0%,
    10% {
        transform: translate(-64px, -64px) rotate(-45deg);
    }
    90%,
    100% {
        transform: translate(0px, 0px) rotate(-45deg);
    }
}

/* Header Section ------------------------------------------------------------------------ */

.headContainer {
    width: 95%;
    padding: 16px;
    margin: 0 auto;
    height: 10vh;
    /* background-color: #01B7FF; */
}

.sunIcon {
    width: 30px;
    height: 30px;
    display: inline;
    visibility: visible;
}

#darkmodeicon {
    color: #27272b;
    font-size: 5vh;
    display: none;
    visibility: hidden;
}

.headerName {
    display: inline;
}

.darkModeBtn {
    all: unset;
    float: right;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkModeBtn > * {
    pointer-events: none;
}

.darkModeBtn:hover {
    cursor: pointer;
}

.darkModeBtn:active #lightmodeicon {
    color: #b2a835;
}

.darkModeBtn:active #darkmodeicon {
    color: rgb(118, 118, 118);
}

/* About Section ------------------------------------------------------------------------ */

@keyframes slide-up {
    0% {
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0%);
    }
}

.headContainer[loaded] {
    animation: slide-down 250ms ease-in;
    animation-delay: calc(var(--loading-duration) * 1.4);
    opacity: 1;
    visibility: visible;
}

.headContainer {
    transition-delay: calc(var(--loading-duration) * 1.4);
    opacity: 0;
}

.aboutSection[loaded] {
    /* .aboutImg[loaded] { */
    animation: slide-up 250ms ease-in;
    animation-delay: calc(var(--loading-duration) * 1.2);
    opacity: 1;
}

.aboutSection {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 90vh;
    padding: 0 0 10vh 0;
    align-items: center;
    opacity: 0;
    transition-property: all;
    transition-delay: calc(var(--loading-duration) * 1.2);
}

#aboutParagraph {
    color: #b3b3b3;
}

.aboutImg {
    object-fit: cover;
    border-radius: 50%;
    height: 325px;
    width: 325px;
    pointer-events: none;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    /* background-color: #73d041; */
    width: 40%;
}

.aboutContent > * {
    padding-bottom: 2.5rem;
}

.aboutHeader {
    font-weight: bold;
}

.blueText {
    color: #01b7ff;
}

.icons {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.iconsAnchor:hover .icons {
    color: #01b7ff;
    transform: translateY(-3px);
}

.iconsAnchor:active .icons {
    color: #0179a9;
}

.icLight {
    color: #27272b;
    font-size: 1.5rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.iconsAnchor:hover .icLight {
    color: #01b7ff;
    transform: translateY(-3px);
}

.iconsAnchor:active .icLight {
    color: #0179a9;
}

.workBtn {
    background-color: #01b7ff;
    border-radius: 35px;
    padding: 0.25em 0.75em;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in;
}

.workBtn:active {
    background-color: #0179a9;
}

.workBtn:hover {
    transform: translateY(-3px);
}

.aboutButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0;
}

/* Projects Section ------------------------------------------------------------------------ */

.projectSection {
    width: 70%;
    margin: 0 auto;
    height: 100vh;
    /* background-color: aquamarine; */
    padding: 4rem 0 0 0;
}

@keyframes bounce {
    100% {
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }
}

.upButton {
    animation: bounce 1s infinite alternate;
    animation-delay: 5s;
    background-color: #01b7ff;
    border-radius: 50%;
    font-size: 5vmin;
    padding: 5px;
    object-fit: cover;
    width: 8vmin;
    height: 8vmin;
    bottom: 32px;
    right: 32px;
    position: fixed;
    text-align: center;
    opacity: 0.8;
}

.upButton:active {
    background-color: #0179a9;
}

.upButton:hover {
    cursor: pointer;
    opacity: 1;
    animation: none;
}

.upButton:hover i {
    opacity: 1;
}

.upButton i {
    color: #fff;
    transition: 0.25s;
    opacity: 0.8;
}

.carousel {
    scroll-snap-type: x mandatory;
    scroll-padding: 0 10px;
    overflow: auto;
    display: flex;
    /* background-color: #fff; */
    height: 75%;
}

.projectCards {
    scroll-snap-align: center;
    flex-shrink: 0;
    background-color: #151518;
    color: #9a9a9a;
    border-radius: 10px;
    margin: 2rem 1rem 1rem 1rem;
    height: 90%;
    width: 85%;
    display: flex;
    /* overflow:hidden; */
}

.projectCards img {
    height: 100%;
    width: 45%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* object-fit: cover; */
    /* transition: all .3s ease-in-out; */
}

.projectContent {
    padding: 16px 32px 32px 32px;
    position: relative;
}

.projectDesc {
    font-size: 15px;
}

.projectBtns {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: right;
    gap: 24px;
    padding-right: 32px;
}

.projectVid:hover i {
    color: #01b7ff;
}

.projectLink:hover i {
    color: #01b7ff;
}

.projectLang {
    font-weight: 300;
    font-size: 0.75rem;
    color: #01b7ff;
}

.projectName {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: #ffffff;
}

.carouselDots {
    /* background-color: #fff; */
    width: 90%;
    height: 5%;
    margin: 10px auto;
    text-align: center;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #01b7ff;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    margin: 2px 5px;
}

.current,
.dot:hover {
    background-color: #025a7d;
}

/* Mobile Screens ------------------------------------------------------------------------ */

@media only screen and (max-width: 376px) {
    .aboutImg {
        height: 250px;
        width: 250px;
        margin: 0;
        border-radius: 5px;
    }
    .aboutSection {
        margin-bottom: 2rem;
        height: 80vh;
    }
    .aboutSection h1 {
        padding-bottom: 1rem;
    }
    #aboutParagraph {
        padding-bottom: 1.5rem;
    }
    .aboutContent {
        height: 60%;
    }
    .headContainer {
        height: 5vh;
    }
    .projectSection {
        width: 90%;
        padding: 2rem 0 0 0;
        margin-top: 20vh;
    }
    .projectCards {
        height: 150%;
        width: 95%;
    }
    .projectDesc {
        font-size: 12px;
    }
    .projectImg {
        object-fit: none;
    }
}

@media only screen and (max-width: 768px) {
    .aboutSection {
        flex-direction: column;
        width: 85%;
        align-items: center; /* align children centered horizontally */
        margin: 0 auto;
        height: 90vh;
        padding: 0;
    }
    .aboutImg {
        margin-top: 1rem;
        margin-bottom: 2rem;
        object-fit: cover;
        border-radius: 5px;
        width: 100%;
    }
    .aboutContent {
        width: 100%;
        height: 60%;
    }
    .aboutContent > * {
        padding-bottom: 2rem;
    }
    .upButton {
        display: none;
    }

    /* Project Section ------------------------------------------------------------------------ */

    .projectSection {
        width: 90%;
        padding: 1rem 0 0 0;
    }

    .carousel {
        scroll-snap-type: x mandatory;
        scroll-padding: 0;
        overflow: auto;
        display: flex;
        /* background-color: aliceblue; */
        height: 85%;
    }

    .projectCards {
        scroll-snap-align: start;
        flex-shrink: 0;
        border-radius: 5px;
        margin: 2rem 1rem 0 1rem;
        height: 90%;
        width: 85%;
        flex-direction: column;
    }

    .projectCards img {
        height: 40%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
        object-fit: cover;
    }

    .projectContent {
        padding: 16px 16px 16px 16px;
        position: relative;
        height: 50%;
    }

    .projectBtns {
        width: 100%;
        height: 10px;
        bottom: 0;
    }

    .projectLang {
        font-weight: 300;
        font-size: 10px;
        color: #01b7ff;
    }

    .projectName {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        font-size: 16px;
    }

    .projectDesc {
        font-size: 12px;
        overflow-y: scroll;
        height: 70%;
        overflow: -moz-scrollbars-vertical;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .projectCards img {
        width: 40%;
        object-fit: cover;
        object-position: left;
    }
    .projectDesc {
        font-size: 14px;
        overflow: auto;
        height: 70%;
    }
}

@media only screen and (min-width: 1536px) {
    .projectDesc {
        font-size: 20px;
    }
    .projectCards img {
        width: 50%;
        object-fit: cover;
        object-position: left;
    }
    .projectName {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        font-size: 24px;
    }
    .projectLang {
        font-size: 16px;
    }
}
