* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* --loading-duration: 1.25s; */
    --theme-color: #fc2256;
    --secondary-color: #04fdd8;
    --loading-duration: 0s;
    --horizontal-padding-sm: 1.5rem;
    --horizontal-padding-md: 6rem;
    --horizontal-padding-lg: 8rem;
    --gray: #475569;
    --gap-sm: 2rem;
    --gap-md: 4rem;
    --gap-lg: 6rem;
    --gap-xl: 8rem;
}

body {
    font-family: "Inter", sans-serif;
    color: #000;
    background: #fff;
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

/* https://stackoverflow.com/a/68689478 SCROLL SNAP */

.headContainer,
.heroSection,
.projectSection {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header Section ------------------------------------------------------------------------ */

.headContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index: 1;
}

.headerName {
    font-family: "Roboto Mono", monospace;
}

.sunIcon {
    width: 30px;
    height: 30px;
    visibility: visible;
}

#darkmodeicon {
    color: #27272b;
    font-size: 5vh;
    display: none;
    visibility: hidden;
}

.darkModeBtn {
    all: unset;
    float: right;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkModeBtn > * {
    pointer-events: none;
}

.darkModeBtn:hover {
    cursor: pointer;
}

.darkModeBtn:active #lightmodeicon {
    color: #b2a835;
}

.darkModeBtn:active #darkmodeicon {
    color: rgb(118, 118, 118);
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.headContainer[loaded] {
    animation: slide-down 500ms ease-in;
    animation-delay: calc(var(--loading-duration) * 1.6);
    opacity: 1;
    visibility: visible;
}

.headContainer {
    transition-delay: calc(var(--loading-duration) * 1.6);
    opacity: 0;
}

/* SM Screens */
@media (min-width: 640px) {
    .headContainer {
        padding-left: var(--horizontal-padding-sm);
        padding-right: var(--horizontal-padding-sm);
    }
}

/* MD Screens */
@media (min-width: 768px) {
    .headContainer {
        padding-left: var(--horizontal-padding-md);
        padding-right: var(--horizontal-padding-md);
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .headContainer {
        padding-left: var(--horizontal-padding-lg);
        padding-right: var(--horizontal-padding-lg);
    }
}

.heroSection[loaded] {
    animation: slide-up 500ms ease-in;
    animation-delay: calc(var(--loading-duration) * 1.2);
    opacity: 1;
}

/* Hero Section ------------------------------------------------------------------------ */

.heroSection {
    display: flex;
    height: 100vh;
    padding: 0 1.5rem;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-property: all;
    transition-delay: calc(var(--loading-duration) * 1.2);
    flex-direction: column;
    gap: var(--gap-sm);
    position: sticky; /* PARALLAX EFFECT */
    inset: 0; /* PARALLAX EFFECT */
}

.heroContent {
    display: flex;
    flex-direction: column;
}

.heroIntro {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 0.5rem;
    color: var(--theme-color);
    font-size: small;
}

.heroHeader {
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-weight: bold;
}

.heroSubheader {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 60%;
}

#heroParagraph {
    color: var(--gray);
    margin-bottom: 2rem;
}

.heroImg {
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none;
    max-width: 100%;
}

.btn {
    border: var(--theme-color) solid 1px;
    padding: 1.25em 3em;
    color: var(--theme-color);
    text-decoration: none;
    transition: transform 0.2s ease-in;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    min-height: 4.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: fit-content;
    background: #fff;
    background: linear-gradient(to right, var(--theme-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.25s ease;
}

.btn:hover {
    color: #fff;
    background-position: left bottom;
}

.btn:active {
    background-color: #0179a9;
}

.arrow {
    font-size: larger;
}

/* SM Screens */
@media (min-width: 640px) {
    .heroSection {
        padding-left: var(--horizontal-padding-sm);
        padding-right: var(--horizontal-padding-sm);
    }
}

/* MD Screens */
@media (min-width: 768px) {
    .heroSection {
        padding-left: var(--horizontal-padding-md);
        padding-right: var(--horizontal-padding-md);
        margin-top: 3rem;
    }
    .heroImg {
        max-width: 100%;
    }
}

@media (min-width: 850px) {
    .heroSection {
        flex-direction: row;
        margin-top: 0rem;
    }
    .heroImg {
        max-width: 50%;
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .heroSection {
        padding-left: var(--horizontal-padding-lg);
        padding-right: var(--horizontal-padding-lg);
    }
    .heroIntro {
        font-size: medium;
    }
    .heroHeader {
        font-size: 2.75rem;
        margin-bottom: 0.5rem;
    }
    .heroSubheader {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    .heroImg {
        max-width: 40%;
    }
    .heroHeader {
        /* font-size: 3.5rem; */
    }
}

/* About Section ------------------------------------------------------------------------ */

.aboutSection {
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: 2;
    color: #fff;
    padding-top: var(--gap-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap-sm) 1.5rem;
    justify-content: start;
    align-items: start;
}

.aboutHeader {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

/* SM Screens */
@media (min-width: 640px) {
    .aboutSection {
        padding-left: var(--horizontal-padding-sm);
        padding-right: var(--horizontal-padding-sm);
    }
}

/* MD Screens */
@media (min-width: 768px) {
    .aboutSection {
        padding-left: var(--horizontal-padding-md);
        padding-right: var(--horizontal-padding-md);
    }
}

@media (min-width: 850px) {
    .aboutSection {
        flex-direction: column;
        padding-top: var(--gap-lg);
        justify-content: start;
        align-items: center;
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .aboutSection {
        padding-left: var(--horizontal-padding-lg);
        padding-right: var(--horizontal-padding-lg);
    }
}

@media (min-width: 1280px) {
}

/* Projects Section ------------------------------------------------------------------------ */

.projectSection {
    padding: 0 1.5rem;
    background-color: #fff;
    position: relative;
    z-index: 2;
    height: 100vh;
}

.projectHeader {
    font-size: 2.5rem;
}

.projectImg {
    aspect-ratio: 16/9;
    max-width: 500px;
}

/* SM Screens */
@media (min-width: 640px) {
    .projectSection {
        padding-left: var(--horizontal-padding-sm);
        padding-right: var(--horizontal-padding-sm);
    }
}

/* MD Screens */
@media (min-width: 768px) {
    .projectSection {
        padding-left: var(--horizontal-padding-md);
        padding-right: var(--horizontal-padding-md);
    }
}

@media (min-width: 850px) {
    .projectSection {
        flex-direction: column;
        padding-top: var(--gap-lg);
        justify-content: start;
        align-items: center;
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .projectSection {
        padding-left: var(--horizontal-padding-lg);
        padding-right: var(--horizontal-padding-lg);
    }
}

@keyframes bounce {
    100% {
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }
}

.upButton {
    animation: bounce 1s infinite alternate;
    animation-delay: 5s;
    background-color: var(--theme-color);
    border-radius: 50%;
    font-size: 4vmin;
    padding: 2px;
    object-fit: cover;
    width: 6vmin;
    height: 6vmin;
    bottom: 20px;
    right: 20px;
    position: fixed;
    text-align: center;
    opacity: 0.8;
}

.upButton:active {
    background-color: #0179a9;
}

.upButton:hover {
    cursor: pointer;
    opacity: 1;
    animation: none;
}

.upButton:hover i {
    opacity: 1;
}

.upButton i {
    color: #fff;
    transition: 0.25s;
    opacity: 0.8;
}

/* Socials  ------------------------------------------------------------------------ */

.socialsContainer {
    position: fixed;
    display: none;
    flex-direction: column;
    gap: 2rem;
    bottom: 0rem;
    left: 2rem;
    z-index: 10;
    justify-content: center;
}

.vl {
    border-left: 1px solid #c2c2c2;
    height: 110px;
    position: relative;
    left: 50%;
}

/* MD Screens */
@media (min-width: 850px) {
    .socialsContainer {
        display: flex;
        left: 2rem;
    }
}

/* LG Screens */
@media (min-width: 1024px) {
    .socialsContainer {
        left: 3rem;
    }
}

/* XL Screens */
@media (min-width: 1280px) {
    .socialsContainer {
        left: 5rem;
    }
}

.icons {
    color: var(--theme-color);
    font-size: 1.5rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.iconsAnchor:hover .icons {
    transform: translateY(-3px);
}

.iconsAnchor:active .icons {
}

.icLight {
    color: #27272b;
    font-size: 1.5rem;
    transition: color 0.5s;
    transition: transform 0.2s ease-in;
}

.iconsAnchor:hover .icLight {
    color: var(--theme-color);
    transform: translateY(-3px);
}

.iconsAnchor:active .icLight {
}

/* Mobile Screens ------------------------------------------------------------------------ */

@media only screen and (max-width: 376px) {
}

@media only screen and (max-width: 768px) {
    .upButton {
        display: none;
    }
}
